@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
 
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.kontent{
  max-width: 1650px;
  margin: auto;
  padding: 0px 30px;
}
.navigacija{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navigacija.sticky{
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navigacija .kontent{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigacija .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navigacija .menu-list{
  display: inline-flex;
  padding-top: 1rem;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
section{
  padding-top: 10vh;
}
.banner{
  height: 100vh;
  background: url("img/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
.banner img{
  width: 200px;
  z-index: 16;
  margin-top: 250px;
  border-radius: 20px;
}
.banner p{
  font-size: 65px;
  color: #fff;
}
.banner .p2{
  font-size: 30px;
  margin-top: -10px;
}
.about{
  height: 100vh;
  padding: 40px 0;
  width: 550px;
}
.about .title{
  font-size: 35px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.ova_u_about{
  width: 100%;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.navigacija .sticky .icon.cancel-btn{
  top: 10px;
}
@media (max-width: 868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn{
    display: none;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navigacija .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navigacija .sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navigacija .menu-list.active{
    clip-path: circle(75%);
  }
  .navigacija .menu-list li{
    margin-top: 45px;
  }
  .navigacija .menu-list li a{
    font-size: 23px;
  }
}
.input-group{
  margin-left: 20px;
  height: 20px;
  display: inline-flex;

}
.input-group .btn.btn-primary{
  height: 41px;
  margin-left: 5px;
}