.galerija{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: teko;
    background: #f1fbff;
    width: 100%;
    min-height: 100vh;
}
.wrapper1{
    width: 80%;
    padding: 30px 0;
    text-align: center;
}
.sekcija{
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #262626;
    letter-spacing: 2px;
    
}
.tekstic {
  padding: 10%;
}
.tekstic h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.tekstic p {
  line-height: 1.5;
}
.glavnidio{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 15px;
}
.glavnidio .glavaslike{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 250px;
    overflow: hidden;   
    border-radius: 5px; 
}
.glavnidio .glavaslike::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.glavnidio .glavaslike:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}
.glavnidio .glavaslike img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glavnidio .glavaslike .img-text {
	position: absolute;
    display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.9);
	width: 100%;
	height: 100%;
	top: 0;
	right: 100%;
	transition: all 0.5s ease-in-out;	
}
.glavnidio .glavaslike:hover .img-text{
    top: 0;
    right: 0;
}